<body class="bg-white">
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/SG_trans_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
        aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="#">
                <img src="/images/SG_trans_logo.jpeg">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="https://www.studiographene.com/" target="_blank" class="nav-link">
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.studiographene.com/about" target="_blank" class="nav-link">
              <span class="nav-link-inner--text">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.studiographene.com/blog" target="_blank" class="nav-link">
              <span class="nav-link-inner--text">Blog</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.studiographene.com/contact" target="_blank" class="nav-link">
              <span class="nav-link-inner--text">Contact</span>
            </a>
          </li>
        </ul>
        <hr class="d-lg-none" />
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank"
              data-toggle="tooltip" data-original-title="Like us on Facebook">
              <i class="fab fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank"
              data-toggle="tooltip" data-original-title="Follow us on Instagram">
              <i class="fab fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank"
              data-toggle="tooltip" data-original-title="Follow us on Twitter">
              <i class="fab fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/" target="_blank"
              data-toggle="tooltip" data-original-title="Star us on Github">
              <i class="fab fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-content" id="panel">
    <div class="header pb-6 d-flex align-items-center"
      style="min-height: 500px; background-image: url(/images/theme/img-1-1000x600.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h1 class="display-2 text-white">Hello</h1>
            <p class="text-white mt-0 mb-3">We value our team and strive to create a meaningful work environment. Our
              culture is supportive, open and collaborative. We offer great benefits, competitive pay and a chance to
              make a difference in your career.
            </p>
            <h1 class="text-info mt-0 mb-3"
              style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight:lighter">
              If this sounds good - you can check out all our open positions below.</h1>
            <!-- <a href="#!" class="btn btn-neutral"><i class="fa fa-lock"></i> Login / Register</a> -->
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-7">
                <form role="form" class="mt-6">
                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                      </div>
                      <input class="form-control" placeholder="Mobile Number" id="mobile" type="text">
                    </div>
                  </div>
                  <div class="form-group login-components" style="display: none;">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="row mb-3 login-components" style="display: none;">
                    <div class="col-6">
                      <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>
                  </div>
                  <div class="text-center login-components" style="display: none;">
                    <a href="#" class="btn btn-info" onclick="goBack();"><i class="fa fa-chevron-left"></i> Change Number</a>
                    <a href="#!" onclick="login();" class="btn btn-neutral"><i class="fa fa-lock"></i>
                      Login</a>
                  </div>
                  <div class="text-center" id="verify-components">
                    <button type="button" onclick="loginVerify();" class="btn btn-neutral"><i class="fa fa-arrow-right"></i>
                      Login / Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Current Openings</h3>
            </div>
            <div class="card-body">
              <div class="row icon-examples">
                <div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="card card-stats">
                      <!-- Card body -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Engineering</h5>
                            <span class="h2 font-weight-bold mb-0">NodeJS Developer</span>
                          </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                          <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> -->
                          <span class="text-nowrap">Gurgaon, INDIA</span>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="https://www.studiographene.com/" class="font-weight-bold ml-1" target="_blank">Studio
              Graphene</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.studiographene.com/" class="nav-link" target="_blank">Home</a>
            </li>
            <li class="nav-item">
              <a href="https://www.studiographene.com/about" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="https://www.studiographene.com/blog" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://www.studiographene.com/contact" class="nav-link" target="_blank">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

<script>
  function goBack() {
    $(".login-components").hide();
    $("#verify-components").show();
    $("#mobile").attr('readonly', false);
  }
  function loginVerify() {
    var data = {
      mobile: $("#mobile").val(),
    }
    if (data.mobile === '') {
      errorNotification('Please enter a valid mobile number')
    } else {
      $.ajax({
        type: "POST",
        url: "/api/v1/check-applicant",
        dataType: 'JSON',
        data: data,
        success: function success(result, textStatus, xhr) {
          console.log(result, xhr.status);
          if(xhr.status === 201) {
            var url = window.location.href;
            var redirectUrl = '';
            if(url.indexOf('redirectUrl') !== -1) {
              redirectUrl = '?' + url.split('?')[1];
            }
            window.location.href = '/admin-login' + redirectUrl;
          } else {
            $(".login-components").show();
            $("#verify-components").hide();
            $("#mobile").attr('readonly', true);
          }
        },
        error: function error(error) {
          console.log(error);
          // $('.custom-container').noty({text: error.responseText.message});
          errorNotification(error.responseJSON.message);
        }
      });
    }
  }
  function login() {
    var data = {
      email: $("#email").val(),
      password: $("#password").val(),
    }
    $.ajax({
      type: "POST",
      url: "/user-login",
      dataType: 'JSON',
      data: data,
      success: function success(result) {
        // console.log(result, result.userType);
        window.localStorage.setItem('token', result.token);
        window.location.href = '/users/dashboard';
      },
      error: function error(error) {
        console.log(error);
        // $('.custom-container').noty({text: error.responseText.message});
        errorNotification(error.responseJSON.message);
      }
    })
  }
</script>